// Mixins
// --------------------------------------------------

.block{
  float: left;
  width: 100%;
}

.blockin{
  display:inline-block;
  width: 100%;
}
.transition{
  -webkit-transition: all 0.3s time;
  -moz-transition: all 0.3s time;
  -ms-transition: all 0.3s time;
  -o-transition: all 0.3s time;
  transition: all 0.3s time;
}
