
// Core variables and mixins

@import "variables.less";
@import "mixins.less";





*{
  outline:none !important;
}
body
{
  margin:0;
  padding:0;
  outline:none;
  overflow-x:hidden ;
  font-family: Brandon Grotesque;
}

a
{
  color:#333;
  text-decoration:none

}
a:hover,a:focus
{
  text-decoration:none;
}
ul{
  margin:0;
  padding:0;
  list-style-type:none;
}



@media (min-width: 0px) {
	
}
@media only screen and (min-width: 0px) and (max-width: 767px) {

}
@media only screen and (min-width: 0px) and (max-width: 480px) {
	
}
@media (min-width: 992px) {	
	
}
@media (min-width: 1200px) {

	
	
}




